/*Reset af css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************************************************************************************
*******************************Styler Gustav's case***********************************
**************************************************************************************/

/*definere containeren i højde og brede så den passer til en ipad pro */

#gustav-container {
    height: 1024px;
    width: 1366px;
    display: flex; /*Display flex da jeg skal have 3 kolonner med indhold på siden*/

}


/*Denne kollone skal fylde 45% af siden,*/
.column1 {
    flex-basis: 45%;
    
   
}

/*Her styler jeg citatet's font og hvor det skal placeres*/
article,
.gustav-citat {
    padding: 2rem 15% 0 15%;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem
}

 /*Styler det lille sorte logo der skal være på hver underside for Steno Museet*/
.sort-logo {
    width: 6rem;
    margin: 1rem 0 0 4rem ;
}


/*Styler min video's størrelse og hvor den er placeret på siden*/
video,
.gustav-video {
    width: 90%;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

/*Denne kollone skal også fylde 45% af siden og her har jeg også stylet fonten*/
.column2 {
    flex-basis: 45%;
    
}
.column2,
article.gustav-beskrivelse {
    
    padding-top: 5rem ;
    padding-left: 0;
    padding-right: 0;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem
    
}


button#btn {
    margin-top: 1rem;
    margin-left: 25%;
    border: 2px solid #4E529F; /* Dark blue border */
    border-radius: 20px; /* Rounded corners */
    background-color: #ffffff; /* White background color */
    padding: 10px 20px; /* Add some padding */
    font-size: 1rem; /* Increase font size */
    font-family: "Anonymous Pro", monospace;
    font-weight: 500;
    font-style: normal;
    cursor: pointer; /* Add a pointer cursor on hover */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Scroll knapperne*/
.down, .up {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    
    
    
}
section.op-knap {
    position: fixed;
    top: 1.5rem;
    margin-left: 15%;

}
section.ned-knap {
    position: fixed;
    bottom: 1.5rem;
    margin-left: 15%;

}







.column3 {
    flex-basis: 10%;
   
}

.gustav-img {
    height: 1024px;
}