*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------styling af forside-------------------------------- */
/* styling af forside sektionen */
.forside{
    position: relative;
    height: 1024px ;
    width: 1366px;
}
/* styling af logo til lodret ipad pro */
header{
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    justify-content: flex-start;
    position: relative;
    height: 7rem;
    
}

.logo-farver{
    display: flex;
    position: sticky;
    
}

.logo-farver img{
    height: 5rem;
    width: auto;
}

/* styling af flexboks til container */
.forside{
    display: flex;
}

.collage-billeder{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    flex: 1;
    background-color: transparent;
    height: 1024px;
    padding-left: 10rem;
    
}

/* styling af collage billede */
.collage-billeder img{
    height: 100%;
    width: auto;
   
}

.tekst-boks{
    position: relative;
    z-index: 1;
    flex: 2;
    background-color: #82a9ff;
    padding: 5rem 10rem;
    margin: 0rem 0rem 0rem 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tekst-indhold{
    position: relative;
    text-align: center;
}

.underoverskrift{
    position: absolute;
    top: 50%;
    padding: 0.5rem 1rem;
}



/* styling af scroll ned knap */
.scroll-ned-knap{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
