* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************************************************************************************************/
/**************************************************************** sidebar ************************************************************/
/*************************************************************************************************************************************/

.sidebar {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    height: 50%;
    }

.sidebar-icon {
    display: block;
    height: 16px;
    margin: 2rem 0;
    border-radius: 50%;
    background-color: #ccc;
    width: 16px;
  }
  
  .sidebar-icon.active {
    background-color: black;
  }
 
 #section1.sidebar-icon,  #section2.sidebar-icon, #section3.sidebar-icon, #section4.sidebar-icon,  #section5.sidebar-icon,  #section6.sidebar-icon,  #section7.sidebar-icon {
    display: none;
 }

/*************************************************************************************************************************************/
/************************************************************** pile & logo **********************************************************/
/*************************************************************************************************************************************/
 .op-pil {
  display: flex;
  flex-direction: column;
  height: 4rem;
  align-items: center;
  z-index: -1;
}

.op-pil p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
}

.ned-pil {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 7.2rem;
  height: 4rem;
}

.ned-pil p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1rem;
}

/* logo */
.kristina-sortlogo {
  width: auto;
  height: 6rem;
  padding: 0 0 1rem 1rem;
}

.kristina-sortlogo img {
  width: 5rem;
}

/**************************************************************************************/
/****************************** styling af forside ************************************/
/**************************************************************************************/

/* styling af forside sektionen */
.forside{
  position: relative;
  height: 1024px ;
  width: 1366px;
}

/* styling af logo til lodret ipad pro */
header{
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  justify-content: flex-start;
  position: relative;
  height: 7rem;
}

.logo-farver{
  display: flex;
  position: sticky;
}

.logo-farver img{
  height: 5rem;
  width: auto;
}

/* styling af flexboks til container */
.forside{
  display: flex;
}

.collage-billeder{
  position: absolute;
  top: -8rem;
  left: -3rem;
  z-index: 2;
  flex: 1;
  background-color: transparent;
  height: 1024px;
  padding-left: 10rem;
}

/* styling af collage billede */
.collage-billeder img{
  width: auto;
  height: 80rem;
}

.forside-tekst-boks{
  position: relative;
  z-index: 1;
  flex: 2;
  background-color: #82a9ff;
  margin: 0rem 0rem 0rem 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tekst-indhold{
  position: relative;
  text-align: center;
}

.underoverskrift{
  position: absolute;
  border-radius: 5rem;
  margin-left: 5rem;
  color: #634cf3;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}

h1{
  margin: 10% 0;
  font-size: 5rem;
  color: #f6ca59;
  font-family: "Bebas Neue", sans-serif;
}

/* styling af scroll ned knap */
.scroll-ned-knap{
  position: absolute;
  bottom: 4rem;
  transform: translate(-50%, 50%);
  margin-right: 35%;
  font-family: "Bebas Neue", sans-serif;
}

/**************************************************************************************/
/***************************** styler kristinas case **********************************/
/**************************************************************************************/

/*definere containeren i højde og brede så den passer til en ipad pro */
.kristina-container {
    height: 1024px;
    width: 1366px;
    display: flex; /*Display flex da jeg skal have 3 kolonner med indhold på siden*/

}
/*Denne kollone skal fylde 45% af siden,*/
.column1 {
    flex-basis: 45%;
}

/*Her styler jeg citatet's font og hvor det skal placeres*/
article,
.kristina-citat {
    padding: 2rem 15% 0 15%;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem
}

 /*Styler det lille sorte logo der skal være på hver underside for Steno Museet*/
.sort-logo{
    width: 6rem;
    margin: 1rem 0 0 4rem ;
}

/*Styler min video's størrelse og hvor den er placeret på siden*/
video,
.kristina-video {
    width: 90%;
    margin-top: 3rem;
    margin-left: 1.5rem;
}

/*Denne kollone skal også fylde 45% af siden og her har jeg også stylet fonten*/
.column2 {
    flex-basis: 45%;
}

.column2,
article.kristina-beskrivelse {
    padding-top: 5rem ;
    padding-left: 0;
    padding-right: 0;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem
}

button#btn {
    margin-top: 1rem;
    margin-left: 25%;
    border: 2px solid #4E529F; /* Dark blue border */
    border-radius: 20px; /* Rounded corners */
    background-color: #ffffff; /* White background color */
    padding: 10px 20px; /* Add some padding */
    font-size: 1rem; /* Increase font size */
    font-family: "Anonymous Pro", monospace;
    font-weight: 500;
    font-style: normal;
    cursor: pointer; /* Add a pointer cursor on hover */
    display: flex;
    justify-content: center;
    align-items: center;
}

.column3 {
    flex-basis: 10%;
}

.kristina-img {
    height: 1024px;
}

/*************************************************************************************************************************************/
/*****************************************************  kristinas statistik side *****************************************************/
/*************************************************************************************************************************************/

.kristina-statistik {
    width: 1366px;
    height: 1024px;
}

  /* overskrift */
.kristina-vd-heading {
   margin: auto;
   width: 50%;
   text-align: center;
  padding-top: 1rem;
}

.statistik-overskrift {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    padding-top: 1rem;
}



  /* indhold med billede og video */
.billede-og-video {
    position: relative;
    width: 100%;
}

  .kristina-statistik-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30rem;
}

  .kristina-statistik-video video {
    width: 60rem;
    margin-top: -30rem;
  }

  /* botox-billede */
  .botox {
    margin-top: -8rem;
    margin-left: 65rem;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .botox img {
    width: 8rem;
  }

  /* tekst med kredittering */
  .kristina-kredittering-overskrift {
    font-family: "Anaheim", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 5.5rem;
  }

/*************************************************************************************************************************************/
/*******************************************************  nina statistik side ********************************************************/
/*************************************************************************************************************************************/
.nina-statistik {
  width: 1366px;
  height: 1024px;
}

/* overskrift */
.nina-vd-heading {
 margin: auto;
 width: 50%;
 text-align: center;
padding-top: 1rem;
}

.statistik-overskrift {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  padding-top: 1rem;
}


/* indhold side */
.nina-statistik-indhold {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
  }
 
  .nina-statistik-indhold h4 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding-left: 4.5rem;
}

  .nina-statistik-indhold img {
    width: 50%;
    height: auto;
    width: 40rem;
  }

  .nina-statistik-indhold video {
    width: 50%;
  }

  .nina-kredittering-overskrift {
    font-family: "Anaheim", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 4.5rem;
  }

  .nina-ned-pil {
    width: 100%;
    height: 4rem;
}

/**************************************************************************************
*******************************Styler Gustav's case***********************************
**************************************************************************************/

/*definere containeren i højde og brede så den passer til en ipad pro */

.gustav-container {
  height: 1024px;
  width: 1366px;
  display: flex; /*Display flex da jeg skal have 3 kolonner med indhold på siden*/

}


/*Denne kollone skal fylde 45% af siden,*/
.column1 {
  flex-basis: 45%;
  
 
}

/*Her styler jeg citatet's font og hvor det skal placeres*/
article,
.gustav-citat {
  padding: 2rem 15% 0 15%;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem
}

/*Styler det lille sorte logo der skal være på hver underside for Steno Museet*/
.sort-logo {
  width: 6rem;
  margin: 1rem 0 0 4rem ;
}


/*Styler min video's størrelse og hvor den er placeret på siden*/
video,
.gustav-video {
  width: 90%;
  margin-top: 4rem;
  margin-left: 1.5rem;
}

/*Denne kollone skal også fylde 45% af siden og her har jeg også stylet fonten*/
.column2 {
  flex-basis: 45%;
  
}
.column2,
article.gustav-beskrivelse {
  
  padding-top: 5rem ;
  padding-left: 0;
  padding-right: 0;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem
  
}


button#btn-g {
  margin-top: 1rem;
  margin-left: 25%;
  border: 2px solid #4E529F; /* Dark blue border */
  border-radius: 20px; /* Rounded corners */
  background-color: #ffffff; /* White background color */
  padding: 10px 20px; /* Add some padding */
  font-size: 1rem; /* Increase font size */
  font-family: "Anonymous Pro", monospace;
  font-weight: 500;
  font-style: normal;
  cursor: pointer; /* Add a pointer cursor on hover */
  display: flex;
  justify-content: center;
  align-items: center;
}



.column3 {
  flex-basis: 10%;
 
}

.gustav-img {
  height: 1024px;
}

/*************************************************************************************************************************************/
/******************************************************  gustav statistik side *******************************************************/
/*************************************************************************************************************************************/

/*Styling af statstik med ikoner*/
.gustav-statistik{ /*Her passer det i de pixels ti Ipad Pro i undersøg*/
   height: 1024px;
   width: 1367px;
}

.vd{             /*Centrerer*/
    margin: auto;
    width: 50%;
}

 .vd-heading{     /*Centrerer*/
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 4rem;
}

.statistik-overskrift{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 4rem;
}




/*Piger og drenge bokse*/
.køn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
  }
  
  .piger, .drenge {
    width: auto; 
    height: 3rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    font-size: 2rem;
  }

  .piger{
   
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7FA4D6;
  }

  .drenge{
    
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7FA569;
  }

/*Ikoner styling*/
  .ikoner-række {
    display: flex;
    justify-content: center;
  }
  
  .procenter { /*Her centrer jeg mine procemter så de passer til mine billeder*/
    display: flex;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin: auto;
    width: 50%;
  }
  
  .procent-boks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    width: 50%;
    font-size: 2rem;
  }

  .p1{
    color: #7FA4D6;
  }

  .p2{
    color: #7FA569;
  }
  
  .ikon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .ikon img {
    height: 80%;
    width: 80%;
  }
  
  .ikon-navn {
    text-align: center;
  }

  #gul, #grøn, #blå { /*Styler teksten generelt*/
    font-size: 1.5rem;
    font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 1rem;
  }

  #gul{  /*Skifter farverne ved hver ikon så det passer til billedet*/
    color:#F6C958 ;
  }

  #grøn{
    color: #7FA569;
  }

  #blå{
    color: #7FA4D6 ;
  }

  /*Fade in effekt*/
  .fade-in {
    animation: fadeIn 1s ease-out forwards;
  }

/*************************************************************************************/
/******************************Styler Ninna's case************************************/
/*************************************************************************************/

/*definere containeren i højde og brede så den passer til en ipad pro */

.ninna-container {
  height: 1024px;
  width: 1366px;
  display: flex; /*Display flex da jeg skal have 3 kolonner med indhold på siden*/

}

/*Denne kollone skal fylde 45% af siden,*/
.column1 {
  flex-basis: 45%;    
 
}

/*Her styler jeg citatet's font og hvor det skal placeres*/
article,
.ninna-citat {
  padding: 2rem 15% 0 15%;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem
}

/*Styler det lille sorte logo der skal være på hver underside for Steno Museet*/
.sort-logo {
  width: 6rem;
  margin: 1rem 0 0 4rem ;
}


/*Styler min video's størrelse og hvor den er placeret på siden*/
video,
.ninna-video {
  width: 90%;
  margin-top: 4rem;
  margin-left: 1rem;
}

/*Denne kollone skal også fylde 45% af siden og her har jeg også stylet fonten i min article*/

.column2 {
  flex-basis: 45%;  
}
.column2,
article.ninna-beskrivelse {
  
  padding-top: 5rem ;
  padding-left: 0;
  padding-right: 0;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem
  
}


button#btn-n {
  margin-top: 1rem;
  margin-left: 25%;
  border: 2px solid #4E529F; /* mørke blå border */
  border-radius: 20px; /* Rundede hjørner  */
  background-color: #ffffff; /* Hvid background-color */
  padding: 10px 20px; 
  font-size: 1rem; 
  font-family: "Anonymous Pro", monospace;
  font-weight: 500;
  font-style: normal;
  cursor: pointer; /* Add a pointer cursor on hover */
  display: flex;
  justify-content: center;
  align-items: center;
}

.column3 {
  flex-basis: 10%;
 
}

.ninna-img {
  height: 1024px;
}

/*************************************************************************************/
/********************** styling af stem på en historie siden**************************/
/*************************************************************************************/


/* styling af scroll op pil og tekst */
.op-boks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}


.op-txt {
  font-family: "Bebas Neue", sans-serif;
}

/* styling af insta billeder sektion */
.insta-billeder{
  height: 1024px ;
  width: 1366px;
}

.overskrift-beskrivelsetxt{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}

.sidste-overskrift{
  font-size: 4rem;
  font-family: "Bebas Neue", sans-serif;
}

.beskrivelse-txt{
  font-size: 1.7rem;
  font-family: "Anaheim", sans-serif;
}

/* styling af galleri div */
.container{
  display: flex;
  justify-content: center;
}

.image-container{
  position: relative;
  width: 33.33%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image-container img{
  width: 100%;
  height: auto;
}

.image-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 6rem;
  color: black;
  visibility: hidden;
  font-size: 2rem;
}

.image-overlay{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.billed-navn1{
  background-color: #b4d78d;
  padding: 0.5rem;
  font-size: 2rem;
  font-family: "Anaheim", sans-serif;
  font-weight: bold;
  margin: 0 auto;
}

.billed-navn2{
  background-color: #f6ca59;
  padding: 1rem;
  font-size: 2rem;
  font-family: "Anaheim", sans-serif;
  font-weight: bold;
  margin: 0 auto;
}

.billed-navn3{
  background-color: #82a9ff;
  padding: 0.5rem;
  font-size: 2rem;
  font-family: "Anaheim", sans-serif;
  font-weight: bold;
  margin: 0 auto;
}


/* styling af logo */
.sort-logo {
  width: 6rem;
  margin: 1rem 0 0 1rem ;
}

/* styling af pil til forsiden */
.til-forsiden {
  position: relative;
  text-align: right;
}

.forside-txt {
  margin: 0;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  padding-bottom: 5rem;
  font-family: "Bebas Neue", sans-serif;
  color: black;
}

.pil-højre{
  position: absolute;
  bottom: 2rem;
  right: 0;
  padding-left: 75rem;
  width: 100%;
  height: 3rem;
}





/*************************************************************************************/
/********************** styling af media querys**************************/
/*************************************************************************************/


@media only screen and (min-width: 1367px) {
  /**********Forside *******/
  .forside{
    position: relative;
    height: 700px;
    width: auto;
}

.collage-billeder img{
    width: auto;
    height: 45rem;
   
}

.collage-billeder{
    position: absolute;
    top: -1rem;
    left: 8rem;
    z-index: 2;
    flex: 1;
    background-color: transparent;
    height: 700px;
    padding-left: 10rem;
    
}

  
  
  
  /*************Kristina case************/
  .kristina-container{ 
   width: 1367px;
   height: 700px;
   display: flex;
  } 


/*Denne kollone skal fylde 45% af siden,*/
.column1 {
   flex-basis: 40%;  
}

/*Her styler jeg citatet's font og hvor det skal placeres*/
article,
.kristina-citat {
   padding: 2rem 20% 0 20%;
   font-family: "Anonymous Pro", monospace;
   font-weight: 400;
   font-style: normal;
   font-size: 1rem
}

/*Styler det lille sorte logo der skal være på hver underside for Steno Museet*/
.sort-logo {
   width: 5rem;
   margin: 1rem 0 0 4rem ;
}


/*Styler min video's størrelse og hvor den er placeret på siden*/
video,
.kristina-video {
   width: 60%;
   margin-top: 2rem;
   margin-left: 6rem;
}

/*Denne kollone skal også fylde 45% af siden og her har jeg også stylet fonten*/
.column2 {
   flex-basis: 45%;
   
}
.column2,
article.kristina-beskrivelse {
   
   padding-top: 3rem ;
   font-family: "Anonymous Pro", monospace;
   font-weight: 400;
   font-style: normal;
   font-size: 1.4rem;
   
}

.column3 {
   flex-basis: 15%;
  
}

.kristina-img {
   height: 700px;
   margin-left: 2rem;

}


/**********kristina statestik************/

.kristina-statistik {
  width: 1367px;
  height: 700px;
}

/* overskrift */
.kristina-vd-heading {
 
 width: 40%;
 text-align: center;
padding-top: 0;
}

h3.statistik-overskrift {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin-top: 0;
}



.kristina-statistik-video video {
  width: 35rem;
  margin-top: -40rem;
  margin-left: 8rem;
}

/* botox-billede */
.botox {
  margin-top: -15rem;
  margin-left: 75rem;
  position: absolute;
  transform: translate(-50%, -50%);
}

.botox img {
  width: 8rem;
}

/* tekst med kredittering */
.kristina-kredittering-overskrift {
  font-family: "Anaheim", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 5.5rem;
  margin-top: -15rem;
}


.footer {
  margin-top: 4rem;
}
.kristina-sortlogo {
  width: 5rem;
  height: 4rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

/******Staistik med ikoner-side******/

.statistik-overskrift{ /*Gør overskiften større*/
  font-size: 3rem;
  margin-top: 5rem;
}

.vd-heading{
  padding: 0;
}



.piger, .drenge{
  font-size: 1.5rem; /*Ændrer tekst str.*/
  height: 0.5rem ;
}

.køn{
  height: 1rem;
  margin-top: 1rem;
}

.ikon img {
  height: 50%;
  width: 50%;
}

.p1{
  font-size: 1.5rem;
}

.p2{
  font-size: 1.5rem;
}

/*Statistik efter ninna*/




.nina-statistik-indhold {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    margin-top: -4rem;
  }
 
  .nina-statistik-indhold h4 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding-left: 12.8rem;
    margin-top: 1rem;
}

  .nina-statistik-indhold img {
    width: 60%;
    margin-left: 10rem;
  }

  .nina-statistik-indhold video {
    width: 40%;
  }


  .nina-kredittering-overskrift {
    margin-left: 10rem;
  }

  .nina-vd-heading{
    padding: 0;
  }






 /************** Gustav case ****************/

   
  .gustav-container{
   height: 700px;
   width: 1367px;
   display: flex;
  } 



/*Denne kollone skal fylde 45% af siden,*/
.column1 {
   flex-basis: 40%;
   
  
}

/*Her styler jeg citatet's font og hvor det skal placeres*/
article,
.gustav-citat {
   padding: 2rem 20% 0 20%;
   font-family: "Anonymous Pro", monospace;
   font-weight: 400;
   font-style: normal;
   font-size: 1rem
}

/*Styler det lille sorte logo der skal være på hver underside for Steno Museet*/
img.sort-logo {
   width: 4rem;
   margin-left: 4rem ;
   margin-bottom: 1rem;
}


/*Styler min video's størrelse og hvor den er placeret på siden*/
video,
.gustav-video {
   width: 60%;
   margin-top: 2rem;
   margin-left: 6rem;
}

/*Denne kollone skal også fylde 45% af siden og her har jeg også stylet fonten*/
.column2 {
   flex-basis: 45%;
   
}
.column2,
article.gustav-beskrivelse {
   
   padding-top: 3rem ;
   font-family: "Anonymous Pro", monospace;
   font-weight: 400;
   font-style: normal;
   font-size: 1.3rem;
   
}


.column3 {
   flex-basis: 15%;
  
}

.gustav-img {
   height: 700px;
   margin-left: 2rem;

}



/************Ninna case*****************/
.ninna-container{
  height: 700px;
   width: 1367px;
   display: flex;
  } 



/*Denne kollone skal fylde 45% af siden,*/
.column1 {
   flex-basis: 40%;
   height: 700px;
   
  
}

/*Her styler jeg citatet's font og hvor det skal placeres*/
article,
.ninna-citat {
   padding: 2rem 15% 0 15%;
   font-family: "Anonymous Pro", monospace;
   font-weight: 400;
   font-style: normal;
   font-size: 1rem
}

/*Styler det lille sorte logo der skal være på hver underside for Steno Museet*/
.sort-logo {
   width: 5rem;
   margin: 1rem 0 0 4rem ;
}


/*Styler min video's størrelse og hvor den er placeret på siden*/
video,
.ninna-video {
   width: 63%;
   margin-top: 2rem;
   margin-left: 6rem;
}

/*Denne kollone skal også fylde 45% af siden og her har jeg også stylet fonten*/
.column2 {
   flex-basis: 45%;
   height: 700px;
}
.column2,
article.ninna-beskrivelse {
   
   padding-top: 3rem ;
   font-family: "Anonymous Pro", monospace;
   font-weight: 400;
   font-style: normal;
   font-size: 1.3rem;
   
}




.column3 {
   flex-basis: 15%;
   height: 700px;
  
}

.ninna-img {
   height: 700px;
   margin-left: 2rem;

}  


/*Like historie side media*/
/* styling af scroll op pil og tekst */
.op-boks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}




.op-txt {
  font-family: "Bebas Neue", sans-serif;
}

/* styling af insta billeder sektion */
.insta-billeder{
  height: 700px ;
  width: 1367px;
}

.overskrift-beskrivelsetxt{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}

.sidste-overskrift{
  font-size: 3rem;
 
}

.beskrivelse-txt{
  font-size: 1.3rem;
  
}

/* styling af galleri div */


.image-container{

  width: 22.22%;
  
}


.image-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 6rem;
  color: black;
  visibility: hidden;
  font-size: 2rem;
}

.image-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto; /* This will horizontally center the .image-overlay element */
}


.billed-navn1{
 
  font-size: 1.5rem;
  
}

.billed-navn2{

  font-size: 1.5rem;
  
}

.billed-navn3{
  background-color: #82a9ff;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: "Anaheim", sans-serif;
  font-weight: bold;
  margin: 0 auto;
}


/* styling af logo */
.sort-logo {
  width: 6rem;
  margin: 1rem 0 0 1rem ;
}

/* styling af pil til forsiden */
.til-forsiden {
  position: relative;
  text-align: right;
}

.forside-txt {
  margin: 0;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  padding-bottom: 5rem;
  font-family: "Bebas Neue", sans-serif;
  color: black;
}

.pil-højre{
  position: absolute;
  bottom: 2rem;
  right: 0;
  padding-left: 75rem;
  width: 100%;
  height: 3rem;
}





}

