* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Styling af statstik med ikoner*/
.gustav-statistik{ /*Her passer det i de pixels ti Ipad Pro i undersøg*/
   height: 1024px;
   width: 1366px;
}

.vd{             /*Centrerer*/
    margin: auto;
    width: 50%;
}

 .vd-heading{     /*Centrerer*/
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 4rem;
}

.statistik-overskrift{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 4rem;
}


.tekst-boks {            /*Her overlayer vi text på vores img "tekst boks*/
    position: relative;
    display: inline-block;
    padding-top: 4rem;
  }
  
  .tekst-boks img {
    display: block;
    width: 100%;
    height: auto;
  }
  
.overlay-text {
    position: absolute;
    top: 30%; 
    left: 60%; 
    width: 22rem;
    transform: translate(-50%, -50%); 
    color: black; 
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    text-align: left;
    padding-top: 4rem;

}


/*Piger og drenge bokse*/
.køn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
  }
  
  .piger, .drenge {
    width: 6rem; 
    height: 3rem; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
  }

  .piger{
    background-color: grey;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .drenge{
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/*Ikoner styling*/

  .ikoner-række {
    display: flex;
    justify-content: center;

  }
  
  .procenter { /*Her centrer jeg mine procemter så de passer til mine billeder*/
    display: flex;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin: auto;
    width: 50%;
  }
  
  .procent-boks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  width: 50%;
  font-size: 2rem;

  }

  .p1{
    color: gray;
  }

  .p2{
    color: black;
  }

  
  .ikon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .ikon img {
    height: 80%;
    width: 80%;
  }
  
  .ikon-navn {
    text-align: center;
  }


  #gul, #grøn, #blå { /*Styler teksten generelt*/
    font-size: 1.5rem;
    font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 1rem;
  }

  #gul{  /*Skifter farverne ved hver ikon så det passer til billedet*/
    color:#F6C958 ;
  }

  #grøn{
    color: #7FA569;
  }

  #blå{
    color: #7FA4D6 ;
  }


  /*Fade in effekt*/
  .fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }














  @media only screen and (min-width: 1600px) and (max-width: 2560px) {
    /* Your styles here */
    
    
    /*Styling af statstik med ikoner*/
    .gustav-statistik{ /*Her passer det i de pixels ti MacBook i undersøg*/
       height: 1600px;
       width: 2560px;
    }
    
    .vd{             /*Centrerer*/
        margin: auto;
        width: 50%;
    }
    
     .vd-heading{     /*Centrerer*/
        margin: auto;
        width: 50%;
        text-align: center;
        padding-top: 4rem;
    }
    
    .statistik-overskrift{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 10rem;
    }
    
    
    .tekst-boks {            /*Her overlayer vi text på vores img "tekst boks*/
        position: relative;
        display: inline-block;
        padding-top: 4rem;
      }
      
      .tekst-boks img {
        display: block;
        width: 200%;
        margin-left: -11rem;
        height: auto;
      }
      
    .overlay-text {
        position: absolute;
        top: 30%; 
        left: 60%; 
        width: 26rem;
        transform: translate(-50%, -50%); 
        color: black; 
        font-family: "Anonymous Pro", monospace;
        font-weight: 400;
        text-align: left;
        padding-top: 4rem;
        font-size: 1.9rem;
    }
    
    
    /*Piger og drenge bokse*/
    .køn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px; 
      }
      
      .piger, .drenge {
        width: 8rem; 
        height: 5rem; 
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
      }
    
      .piger{
        background-color: grey;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    
      .drenge{
        background-color: black;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    
    /*Ikoner styling*/
    
      .ikoner-række {
        display: flex;
        justify-content: center;
    
      }
      
      .procenter { /*Her centrer jeg mine procemter så de passer til mine billeder*/
        display: flex;
        padding-top: 3rem;
        padding-bottom: 1rem;
        margin: auto;
        width: 50%;
      }
      
      .procent-boks {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin: auto;
      width: 100%;
      font-size: 3rem;
    
      }
    
      .p1{
        color: gray;
      }
    
      .p2{
        color: black;
      }
    
      
      .ikon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      
      .ikon img {
        height: 80%;
        width: 80%;
      }
      
      .ikon-navn {
        text-align: center;
      }
    
    
      #gul, #grøn, #blå { /*Styler teksten generelt*/
        font-size: 1.5rem;
        font-weight: bold;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
      padding-top: 1rem;
      }
    
      #gul{  /*Skifter farverne ved hver ikon så det passer til billedet*/
        color:#F6C958 ;
      }
    
      #grøn{
        color: #7FA569;
      }
    
      #blå{
        color: #7FA4D6 ;
      }
    
    
      /*Fade in effekt*/
      .fade-in {
        animation: fadeIn 1s ease-out forwards;
      }
      
      @keyframes fadeIn {
        0% {
          transform: translateX(-100%);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
  

  
}